/* nav{
    background-color: rgba(77, 77, 77, 0.5);
    float: left;
}

.img {
    width: auto;
    height: auto;
    padding: 10px;
    align-items: center;
}

.imgi {
    padding-left: 50px;
}

.maincontent {
    float: right;
} 

holy f

*/
