body {
    background: linear-gradient(120deg, rgb(249, 200, 243) 30%, rgb(158, 195, 230)) no-repeat center center / auto;
    background-attachment:fixed;
} 


.title > h1 {
    text-align: center;
    background-color: rgb(29, 29, 29);
    border: 1px solid rgb(29, 29, 29);
    opacity: 80%;
    border-radius: 30px;
    height: 100px;
    font-size: 80px;
}

.cont {
    background-color: rgb(29, 29, 29);
    border: 1px solid rgb(29, 29, 29);
    opacity: 80%;
    border-radius: 30px;
    height: auto;
}

.cont > p {
    padding: 30px;
}

@media only screen and (max-width: 600px) {

    .title > h1 { 
       font-size: 40px;
       height: 80px;
    }
 
 }