body {
    background: linear-gradient(120deg, rgb(249, 200, 243) 30%, rgb(158, 195, 230));
} 


.title > h1 {
    text-align: center;
    background-color: rgb(29, 29, 29);
    border: 1px solid rgb(29, 29, 29);
    opacity: 80%;
    border-radius: 30px;
    height: 100px;
    font-size: 80px;
}

.cont {
    background-color: rgb(29, 29, 29);
    border: 1px solid rgb(29, 29, 29);
    opacity: 80%;
    border-radius: 30px;
    height: auto;
}

.cont > p {
    padding: 30px;
}
